@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Slabo 27px', serif;
}
.navbar .show {
  background: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-collapse.show .navbar-nav .nav-item .nav-link.active {
  color: rgb(0, 0, 0);
}

.btn-cus {
  letter-spacing: 0;
  border-color: rgb(255, 255, 255);
}

.btn-cus:hover,
.btn-cus:active {
  letter-spacing: 5px;
}

.btn-cus:after,
.btn-cus:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: ' ';
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-cus:hover:after,
.btn-cus:hover:before {
  backface-visibility: hidden;
  border-color: rgb(255, 255, 255);
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-cus:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
.wrap {
  background: rgb(150, 150, 150);
  background: linear-gradient(to bottom, #eeeeee 0%, #bdbdbd 50%, #616161 100%);
}
